sftpserver/simple/simplesftp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	 <flow name="downloadFlow">
        <sftp:inbound-endpoint host="test.sftp.com" port="22" path="/dvl/nqp/nqp_docs/TESTING/input" user="sfbdf" password="sfbdxxxx" responseTimeout="10000" doc:name="SFTP"/>
        <file:outbound-endpoint path="C:\ESB\input" responseTimeout="10000" doc:name="File" outputPattern="#[message.inboundProperties.originalFilename]"/>
          <flow-ref name="uploadFlow" doc:name="Flow Reference"/> 
    </flow>
     <flow name="uploadFlow">
        <file:inbound-endpoint path="C:\ESB\input"  responseTimeout="10000" doc:name="File"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" host="test.sftp.com" port="22" path="/dvl/nqp/nqp_docs/TESTING/output/" user="sfbdf" password="sfbdxxxx" responseTimeout="10000" useTempFileTimestampSuffix="true" doc:name="SFTP" outputPattern="#[message.inboundProperties.originalFilename]"/>
    </flow> 
</mule>
