ActiveMQ/jmsqueue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="8081" doc:name="HTTP Listener Configuration" />
	<jms:activemq-connector name="Active_MQ"
		username="admin" password="admin" brokerURL="tcp://localhost:61616"
		validateConnections="true" doc:name="Active MQ" />
	<flow name="jmsqueueFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/jms" doc:name="HTTP" />
		<set-payload value="Hai From Mule "
			doc:name="Set Payload" />
		
			<logger message="Payload :- #[message.payload]" level="INFO"
				doc:name="Logger" />
			<jms:outbound-endpoint queue="JavaFeed"
				connector-ref="Active_MQ" doc:name="JMS">
				<message-properties-transformer>
					<add-message-property key="Priority" value="9" />
				</message-properties-transformer>
			</jms:outbound-endpoint>
		</flow>
</mule>
