MessageProperties-Scopes/Invocationflowscopes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
   
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="receiver" host="localhost" port="8081" basePath="/receiver" doc:name="HTTP Request Configuration"/>
    <flow name="sender">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/invocation" allowedMethods="GET" doc:name="HTTP"/>
        <message-properties-transformer doc:name="Message Properties" scope="invocation">
            <add-message-property key="content" value="Hello From sender"/>
        </message-properties-transformer>
        <vm:outbound-endpoint exchange-pattern="request-response" path="send"  doc:name="VM"/>
        <flow-ref name="receive" doc:name="receive"/>
    </flow>
    <flow name="receive">
        <vm:inbound-endpoint exchange-pattern="request-response" path="send" doc:name="VM"/>
        <expression-component doc:name="Expression"><![CDATA[String error ="Flow scope variable is not accessible outside transport";
String result = flowVars.content
if  (result==null ||( result!=null && result.equals("")) ){
 flowVars.content = error;
}





]]></expression-component>
        <set-payload value="result:::::::#[flowVars.content]" doc:name="Set Payload"/>
    </flow>
</mule>
